body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #28629e 0%, #28629e 100%);
  color: #333;
}

#app {
  width: 90%;
  max-width: 600px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  text-align: center;
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Encabezado */
.header h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Contenedor de entrada */
.input-container {
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 12px 20px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.input-container:focus-within {
  border-color: #28629e;
  box-shadow: 0 0 0 3px rgba(106, 17, 203, 0.2);
}

.input-container i {
  color: #666;
  margin-right: 10px;
}

.input-container input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  background-color: transparent;
  color: #333;
}

.input-container button {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #666;
  cursor: pointer;
  outline: none;
}

.input-container button:hover {
  color: #333;
}

/* Lista de sugerencias */
.suggestions {
  margin-top: 15px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  border-top: 1px solid #ddd;
}

.suggestions li {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #333;
}

.suggestions li:hover {
  background-color: #e0e7ff;
  color: #28629e;
}

/* Contenedor de letras */
.lyrics {
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9fafc;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  max-height: 300px;
  overflow-y: auto;
  text-align: left;
  white-space: pre-wrap;
  color: #333;
}

.lyrics::before {
  /*content: "🎵 ";*/
  font-size: 24px;
  color: #28629e;
}
